body {
  font-family: "Trebuchet MS", sans-serif;

  font-size: 16px;
}

.title-large {
  font-size: 48px;
  margin-bottom: 18px;
}

.title-small {
  font-size: 20px;
  margin-bottom: 6px;
}

.title-medium {
  font-size: 32px;
  font-weight: bold;
  margin: 12px;
}

.text-lead {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.text-medium {
  font-size: 14px;
  line-height: 24px;
  color: #666;
}

.text-small {
  font-size: 12px;
  font-style: italic;
  line-height: 100%;
  padding-bottom: 10px;
}

.text-center {
  text-align: center;
}